---
import MainLayout from "../layouts/MainLayout.astro";
import Marquee from "../components/Marquee.astro";
import Low from "/public/media/once-you-get-low-final.jpg";
---

<MainLayout title="MDL - Bio" pageName="Bio" heroVisible={false}>
  <Marquee sectionName="BIO" />
  <article class="content-section">
    <p>body 1</p>
    <img src={Low.src} alt="" />
    <h3>header 2</h3>
    <p>body 3</p>
    <strong>
      <a class="see-more" href="/">Go Back</a>
    </strong>
  </article>
</MainLayout>

<style>
  img {
    max-width: 500px;
  }

  h3 {
    font-size: var(--font-size-400);
  }

  @media (max-width: 700px) {
    img {
      max-width: 300px;
    }
  }
</style>
