---
import ContentSection from "../components/ContentSection.astro";
import Marquee from "../components/Marquee.astro";
import MainLayout from "../layouts/MainLayout.astro";
import heart from "../images/heart4.gif";
import headShot from "../images/MDLsmall.jpeg";
import guitarMan from "../images/guitarguy.gif";
---

<MainLayout>
  <article class="hero">
    <h2 id="official">~ Official Website of Matthew Danger Lippman ~</h2>
    <div class="hero-images-wrapper">
      <img src={heart} alt="GIF of a red heart spinning" />
      <img src={headShot} alt="MDL Headshot" />
      <img src={heart} alt="GIF of a red heart spinning" />
    </div>
    <p>~ MATTHEW DANGER LIPPMAN: CULT ICON. AMERICAN HERO. ~</p>
  </article>
  <Marquee sectionName="Music" />
  <ContentSection />
  <article id="thank-you">
    <h2 class="thank-you-text">
      ~ Thank for visiting matthewdangerlippman.com ~
    </h2>
    <img
      src={guitarMan}
      alt="Drawing of puppet in a blue sweater holding a guitar "
    />
  </article>
</MainLayout>

<style>
  .hero-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-sml);
    column-gap: 0.125em;
    margin: 0.5em;
  }

  h2,
  .hero p {
    font-family: var(--header-font);
    line-height: 1.5;
  }
</style>
