---
---

<main>
  <div class="inner-wrapper">
    <slot />
  </div>
</main>

<style>
  main {
    color: var(--body-text-color);
    background-color: var(--background-color);
    border: 5px solid var(--body-text-color);
    padding: var(--padding-std);
    max-width: 70rem;
    margin: 2rem auto;
  }

  .inner-wrapper {
    border: 5px solid var(--main-text-color);
    padding: var(--padding-lg);
  }
</style>
