---
import flag from "../images/flag1a.gif";
---

<header>
  <div id="top-line"></div>
  <div class="header-wrapper">
    <img
      src={flag.src}
      alt="GIF of a pixel art American flag waving"
      class="am-flag"
    />
    <h1 id="site-name">
      <a href="/" rel="norefferer noopener">Matthew Danger Lippman</a>
    </h1>
    <img
      src={flag.src}
      alt="GIF of a pixel art American flag waving"
      class="am-flag"
    />
  </div>
  <p class="short-bio">
    Welcome to the official website of Matthew Danger Lippman, musician, actor,
    & writer living in Brooklyn. Go Bills!
  </p>
</header>

<style>
  h1 {
    font-family: var(--header-font);
    font-size: var(--font-size-500);
    line-height: 1.2;
  }

  h1 > a {
    color: var(--main-text-color);
  }

  .short-bio {
    font-family: var(--main-font);
    font-size: var(--font-size-75);
    color: var(--main-text-color-brighter);
    padding: var(--padding-sml);
  }

  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    margin: var(--padding-std);
  }

  #top-line {
    min-height: var(--padding-std);
    background-color: var(--main-text-color);
  }

  h1::before,
  h1::after {
    content: "~";
    display: inline-block;
    color: var(--main-text-color);
  }

  p::before,
  p::after {
    content: "~";
    display: inline-block;
    color: var(--main-text-color-brighter);
  }

  @media (max-width: 700px) {
    h1::before,
    h1::after,
    p::before,
    p::after {
      display: block;
    }

    .header-wrapper {
      margin-block: var(--padding-sml);
    }

    h1 {
      font-size: calc(var(--font-size-500) * 0.85);
    }
  }
</style>
