---
import menuIcon from "../images/menu-icon.svg";
---

<nav>
  <ul>
    <li class="nav-link">
      <a
        href="https://matthewdangerlippman.bandcamp.com/album/touchdown-u-s-a"
        target="_blank"
        rel="nnoreferrer noopener">Bandcamp</a
      >
    </li>
    <li class="nav-link">
      <a
        href="https://www.instagram.com/matthewdangerlippman/"
        target="_blank"
        rel="nnoreferrer noopener">Instagram</a
      >
    </li>
    <li class="nav-link">
      <a href="/email" target="_blank" rel="nnoreferrer noopener">Email</a>
    </li>
  </ul>
  <button id="nav-display-btn">
    <img src={menuIcon} alt=" " />
  </button>
</nav>

<style>
  nav {
    background-color: var(--main-text-color);
    opacity: 0.9;
    min-height: 50px;
    font-family: var(--head-font);
    margin-block: var(--padding-std);
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #rgba(51, 51, 51, 0.263);
  }

  nav ul {
    background-color: transparent;
  }
  nav li {
    padding: var(--padding-std);
    text-transform: uppercase;
  }

  a {
    color: #fff;
  }

  #nav-display-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 3px solid #efefefe8;
    width: 47px;
    padding: var(--padding-std);
  }

  .nav-link {
    display: none;
  }

  nav li:hover {
    background-color: rgba(51, 51, 51, 0.263);
  }

  .show {
    display: block;
  }

  @media (min-width: 700px) {
    #nav-display-btn {
      display: none;
    }

    nav {
      display: flex;
      justify-content: center;
    }

    nav ul {
      display: flex;
      align-items: center;
    }

    .nav-link {
      display: block;
      background-color: var(--main-text-color);
    }
  }
</style>

<script>
  const toggleNavBtn = document.getElementById("nav-display-btn");
  const navLinks = document.querySelectorAll(".nav-link");

  function ToggleNav() {
    navLinks.forEach((item) => {
      item.classList.toggle("show");
    });
  }

  // function SendEmail() {
  //   document.getElementById("email-form").action = "";

  //   if (!document.getElementById("name").value.length > 0) {
  //     return;
  //   }

  //   if (!document.getElementById("msg").value.length > 0) {
  //     return;
  //   } else {
  //     window.location.href =
  //       "mailto:matthewdangerlippman@gmail.com?subject=New%20Contact%20From%20" +
  //       document.getElementById("name").value +
  //       "&body=" +
  //       document.getElementById("msg").value;

  //     window.location.reload();
  //   }
  // }

  toggleNavBtn.addEventListener("click", ToggleNav);
</script>
