---
import NavItem from "./NavItem.astro";

const navList = [
  {
    destination:"https://matthewdangerlippman.bandcamp.com/album/touchdown-u-s-a",
    title: "Bandcamp"
  },
  {
    destination:"https://www.instagram.com/matthewdangerlippman/",
    title: "Instagram"
  },
  {
    destination:"/bio",
    title: "Bio"
  },
  {
    destination:"/email",
    title: "Email"
  },

]
---

<nav>
  <ul class="main-nav">
    {navList.map(item => (
      <NavItem endpoint={item.destination} text={item.title}/>
    ))} 
  </ul>
  <button
    class="nav-display-btn"
    aria-controls="primary navigation"
    aria-expanded="false"
  >
    <svg class="menu-icon" viewBox="0 0 100 100" width="40">
      <rect class="top line" width="70" height="10" x="15" y="25" rx="5"></rect>
      <rect class="middle line" width="70" height="10" x="15" y="45" rx="5"
      ></rect>
      <rect class="bottom line" width="70" height="10" x="15" y="65" rx="5"
      ></rect>
    </svg>
  </button>
</nav>

<style>

  nav {
    background-color: var(--main-text-color);
    opacity: 0.9;
    min-height: 2.9rem;
    margin-block: var(--padding-std);
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(51, 51, 51, 0.413);
  }

  .main-nav {
    background-color: transparent;
    display: none;
  }

  .nav-display-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 3px solid #efefefe8;
    fill: #efefefe8;
  }
  svg{
    margin-bottom:-3px;
  }

  .nav-display-btn .line {
    transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
    transform-origin: center;
  }

  .nav-display-btn[aria-expanded="true"] .line {
    transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
  }

  .nav-display-btn[aria-expanded="true"] :is(.top, .bottom, .middle) {
    y: 45;
  }

  .nav-display-btn[aria-expanded="true"] .top {
    rotate: -45deg;
  }

  .nav-display-btn[aria-expanded="true"] .bottom {
    rotate: 45deg;
  }

  .nav-display-btn[aria-expanded="true"] .middle {
    opacity: 0; */
  }

  .show {
    display: block;
  }

  @media (min-width: 700px) {
    .nav-display-btn {
      display: none;
    }

    nav {
      display: flex;
      justify-content: center;
    }

   .main-nav {
      display: flex;
      align-items: center;
    }
  }
</style>

<script is:inline> 
  const toggleNavBtn = document.querySelector(".nav-display-btn");
  const navLinks = document.querySelector(".main-nav");

  function ToggleNav() {
    navLinks.classList.toggle("show");
    let menuState = toggleNavBtn.getAttribute("aria-expanded");
    if (menuState == "false") {
      menuState = "true";
    } else {
      menuState = "false";
    }

    toggleNavBtn.setAttribute("aria-expanded", menuState);
  }

  toggleNavBtn.addEventListener("click", ToggleNav);
</script>
