---
---

<nav>
  <div class="main-nav">
    <ul>
      <li class="nav-link">
        <a
          href="https://matthewdangerlippman.bandcamp.com/album/touchdown-u-s-a"
          target="_blank"
          rel="nnoreferrer noopener">BANDCAMP</a
        >
      </li>
      <li class="nav-link">
        <a
          href="https://www.instagram.com/matthewdangerlippman/"
          target="_blank"
          rel="nnoreferrer noopener">INSTAGRAM</a
        >
      </li>
      <li class="nav-link">
        <a href="/email" target="_blank" rel="nnoreferrer noopener">EMAIL</a>
      </li>
    </ul>
  </div>
  <button id="nav-display-btn">
    <svg
      aria-hidden="true"
      width="40px"
      height="40px"
      viewBox="0 0 32 32"
      enable-background="new 0 0 32 32"
      version="1.1"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        d="M26,16c0,1.104-0.896,2-2,2H8c-1.104,0-2-0.896-2-2s0.896-2,2-2h16C25.104,14,26,14.896,26,16z"
        id="XMLID_314_"></path>
      <path
        d="M26,8c0,1.104-0.896,2-2,2H8c-1.104,0-2-0.896-2-2s0.896-2,2-2h16C25.104,6,26,6.896,26,8z"
        id="XMLID_315_"></path>
      <path
        d="M26,24c0,1.104-0.896,2-2,2H8c-1.104,0-2-0.896-2-2s0.896-2,2-2h16C25.104,22,26,22.896,26,24z"
        id="XMLID_316_"></path>
    </svg>
  </button>
</nav>

<style>
  nav {
    background-color: var(--main-text-color);
    min-height: 46px;
    margin: var(--padding-std) 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .main-nav li {
    padding: var(--padding-std);
  }

  #nav-display-btn {
    position: absolute;
    border: none;
    right: 0;
    top: 2px;
    background-color: var(--main-text-color);
  }

  .main-nav > * {
    background-color: rgb(186, 31, 31);
  }

  .nav-link {
    display: none;
  }

  .main-nav li:hover {
    background-color: #333;
  }

  @media (min-width: 700px) {
    #nav-display-btn {
      display: none;
    }

    .main-nav,
    .nav-link {
      display: block;
      background-color: var(--main-text-color);
    }

    .main-nav {
      display: flex;
      justify-content: center;
    }
  }
</style>
