---
export interface Props {
  endpoint: string;
  text: string;
}

const { endpoint, text } = Astro.props;
---
<a href={endpoint} target="_blank" rel="nnoreferrer noopener">
  <li class="nav-link">{text}</li>
</a>

<style>
  li {
    font-family: var(--head-font);
    padding: calc(var(--padding-std) - 3px);
    text-transform: uppercase;
  }

  li:hover {
    background-color: rgba(51, 51, 51, 0.263);
  }

  a {
    color: #fff;
  }

  @media (min-width: 700px) {
    .nav-link {
      display: block;
      background-color: var(--main-text-color);
    }
  }
</style>
